{% extends "layout.html" %}

{% block title %}
    Card Search
{% endblock %}

{% block main %}
    <div class="cards-search">
        <form action="/card_search" method="post">
            <input type="text" name="q" placeholder="Enter attributes/tags here to search them"/>
            <button type="submit">Search</button>
        </form>
    </div>
    
    <!--- Based on device viewport size-->
    {% if images %}
    <div class="cards-view">
        {% for image in images %}
            <img class="pokemon-pic" src="{{ image }}" alt="Image of pokemon"/>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}