{% extends "layout.html" %}

{% block title %}
    Card Search
{% endblock %}

{% block main %}
    <div class="cards-search">
        <form action="/card_search" method="post">
            <input type="text" name="q" placeholder="Enter attributes/tags here to search them"/>
            <button type="submit">Search</button>
        </form>
    </div>
    
    <!--- Based on device viewport size-->
    {% if cards %}
    <div class="cards-view">
        {% for card in cards %}
            <img class="pokemon-pic" src="{{ card.images.small }}" alt="Image of {{ card.name }}"/>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}